* {
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(to bottom, #b32f2f, #ff7f00, #f27610, #ff0000);
  --text-color: #ffffff;

  --gamba-ui-border-radius: 10px;

  --gamba-ui-button-default-background: #0e0e16;
  --gamba-ui-button-default-background-hover: #11111d;
  --gamba-ui-button-default-color: white;

  --gamba-ui-button-main-background: #8851ff;
  --gamba-ui-button-main-background-hover: #9564ff;

  --gamba-ui-input-background: #0e0e16;
  --gamba-ui-input-color: #ffffff;
  --gamba-ui-input-background-hover: #0808ab;
}

body, input, button, textarea, pre {
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  cursor: default;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9564ff;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  background: rgb(55, 57, 82);
  border-radius: 10px;
}


.creative-button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the container height to the full viewport height */
}

.creative-button {
  border: none;
  border-radius: 30px; /* Rounded corners */
  padding: 15px 30px; /* Padding for spacing */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold font weight */
  color: #fff; /* Text color */
  background-color: #ff7f00; /* Background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  cursor: pointer;
  outline: none; /* Remove outline on focus */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
}

.creative-button:hover {
  transform: translateY(-3px); /* Move button up on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Add some spacing between the image and the button */
}
